/* Grundlegende Stile für den Wrapper */
#wrapper {
    width: 35%; 
    margin: 31vh 0 0 0; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

/* Auth Buttons */
#authButtons {
    display: flex;
    gap: 10px;
    width: 100%;
}

#authButtons button {
    flex: 1;
    max-width: 80vw;
}

/* Dialog Styles */
dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

dialog input[type="text"],
dialog input[type="username"],
dialog input[type="email"],
dialog input[type="password"],
input[type="text"],
input[type="number"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}


input[type="text"],
dialog input[type="username"],
dialog input[type="email"],
dialog input[type="password"],
input[type="text"],
input[type="number"]::placeholder {
    color: #999;
}

/* Buttons inside dialogs */
dialog button[type="submit"],
dialog button[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

dialog button[type="submit"]:hover,
dialog button[type="button"]:hover {
    background-color: #45a049;
}

/* Specific button style for cancel buttons */
dialog button[type="button"]#cancelLoginDialogBtn,
dialog button[type="button"]#cancelRegisterDialogBtn {
    background-color: #ff4d4d;
}

dialog button[type="button"]#cancelLoginDialogBtn:hover,
dialog button[type="button"]#cancelRegisterDialogBtn:hover {
    background-color: #e60000;
}

/* CreateLobby */
#createLobbyBtn {
    width: 100%;
    max-width: 80vw; 
}

#joinLobbyForm {
    width: 100%;
    max-width: 80vw; 
}

#joinLobbyCodeInp,
#joinLobbyForm button {
    width: 100%; 
    box-sizing: border-box; 
}

/* Anpassung der Breite für das Anzahl der Fragen Feld und der Select-Elemente */
fieldset {
    width: 94%;
}

#numberOfQuestions,
#loginUsernameInp,
#loginPasswordInp,
#registerUsernameInp,
#registerEmailInp,
#registerPasswordInp,
#confirmPasswordInp {
    width: 100%;
    box-sizing: border-box;
}

/* Spezielle Buttonstile */
button[type="button"]#cancelLobbyDialogBtn {
    background-color: #ff4d4d;
}

button[type="button"]#cancelLobbyDialogBtn:hover {
    background-color: #e60000;
}

button[type="submit"]#submitLobbyDialogBtn {
    background-color: #4CAF50;
}

/* Menü-Stile für die korrekte Ausrichtung */
menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    gap: 10px;
}

#submitLobbyDialogBtn,
#submitLoginDialogBtn,
#submitRegisterDialogBtn {
    flex: 7;
    box-sizing: border-box;
}

#cancelLobbyDialogBtn,
#cancelLoginDialogBtn,
#cancelRegisterDialogBtn {
    flex: 3;
    box-sizing: border-box;
}