/* Spezielle Body Styles */
body {
    justify-content: center;
}

/* Grundlegende Stile für den Wrapper */
#wrapper {
    width: 35%; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Auth Buttons */
#authButtons {
    display: flex;
    gap: 10px;
    width: 100%;
}

#authButtons button {
    flex: 1;
    max-width: 80vw;
}

/* Dialog Styles */
dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

dialog input[type="text"],
dialog input[type="username"],
dialog input[type="email"],
dialog input[type="password"],
input[type="text"],
input[type="number"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

input[type="text"]::placeholder,
dialog input[type="username"]::placeholder,
dialog input[type="email"]::placeholder,
dialog input[type="password"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

/* Buttons inside dialogs */
dialog button[type="submit"],
dialog button[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

dialog button[type="submit"]:hover,
dialog button[type="button"]:hover {
    background-color: #45a049;
}

/* Specific button style for cancel buttons */
dialog button[type="button"]#cancelLoginDialogBtn,
dialog button[type="button"]#cancelRegisterDialogBtn {
    background-color: #ff4d4d;
}

dialog button[type="button"]#cancelLoginDialogBtn:hover,
dialog button[type="button"]#cancelRegisterDialogBtn:hover {
    background-color: #e60000;
}

/* CreateLobby */
#createLobbyBtn {
    width: 100%;
    max-width: 80vw; 
}

#joinLobbyForm {
    width: 100%;
    max-width: 80vw; 
}

#joinLobbyCodeInp,
#joinLobbyForm button {
    width: 100%; 
    box-sizing: border-box; 
}

/* Anpassung der Breite für das Anzahl der Fragen Feld und der Select-Elemente */
fieldset {
    width: 94%;
}

#numberOfQuestions,
#loginUsernameInp,
#loginPasswordInp,
#registerUsernameInp,
#registerEmailInp,
#registerPasswordInp,
#confirmPasswordInp {
    width: 100%;
    box-sizing: border-box;
}

/* Spezielle Buttonstile */
button[type="button"]#cancelLobbyDialogBtn {
    background-color: #ff4d4d;
}

button[type="button"]#cancelLobbyDialogBtn:hover {
    background-color: #e60000;
}

button[type="submit"]#submitLobbyDialogBtn {
    background-color: #4CAF50;
}

/* Menü-Stile für die korrekte Ausrichtung */
menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    gap: 10px;
}

#submitLobbyDialogBtn,
#submitLoginDialogBtn,
#submitRegisterDialogBtn {
    flex: 7;
    box-sizing: border-box;
}

#cancelLobbyDialogBtn,
#cancelLoginDialogBtn,
#cancelRegisterDialogBtn {
    flex: 3;
    box-sizing: border-box;
}

/* Media Queries für Handybildschirme */
@media screen and (max-width: 1000px) {
    #wrapper {
        width: 85%;
        padding: 4vw;
        gap: 15px;
        font-size: 4vw;
    }

    h1{
        max-width: 95%;
    }

    #authButtons {
        flex-direction: column;
        max-width: 80vw;
        gap: 10px; /* Etwas mehr Abstand zwischen den Buttons */
    }

    #authButtons button {
        max-width: 100%;
    }

    dialog form {
        gap: 5px;
    }

    dialog input[type="text"],
    dialog input[type="username"],
    dialog input[type="email"],
    dialog input[type="password"],
    input[type="text"],
    input[type="number"],
    select {
        padding: 10px;
        font-size: 6vw;
    }

    dialog button[type="submit"],
    dialog button[type="button"] {
        font-size: 6vw;
        padding: 8px;
    }

    menu {
        flex-direction: column;
        gap: 5px;
    }

    #loginDialog,
    #registerDialog,
    #createLobbyDialog{
        font-size: 5vw;
    }

    #loginBtn,
    #registerBtn,
    #createLobbyBtn,
    #joinLobbyBtn,
    #joinLobbyCodeInp {
        font-size: 6vw;
    }
    

}
