<!DOCTYPE html>
<html>
    <head>
        <title>EFVA</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/game.css">
        <link rel="icon" type="image/svg+xml" href="../static/favicon.svg">
        <link rel="icon" type="image/png" href="../static/favicon.png">
    </head>
    <body>
        <h1>
            Spiel {{lobbyCode}}
        </h1>
        <script src="../static/game.js"></script>
        <h3><span id="questionIndexSpan"></span>: <span id="currentQuestionSpan"></span> </h3>
        <div id="answerButtonsDiv"></div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            console.log("game page loaded");
            // HTML Elements
            const questionIndexSpan = document.getElementById('questionIndexSpan');
            const currentQuestionSpan = document.getElementById('currentQuestionSpan');
            const answerButtonsDiv = document.getElementById('answerButtonsDiv');

            // Constants
            const currentLobbyCode = window.location.href.slice(-6);

            // Websocket
            const socket = io({transports: ["websocket"]});
            socket.on('connect', function() {
                // Get Question
                console.log("Getting question on connect");
                questionIndexSpan.innerText = "0";
                const currentLobbyCode = window.location.href.slice(-6);
                socket.emit('message', `{"id": 4, "auth_token": "${Cookies.get('auth_token')}", "lobby_code": "${currentLobbyCode}"}`);
            });
            socket.on('message', function(response) {
                console.log('Received message:', response);
                const jsonResponse = JSON.parse(response);
                console.log(jsonResponse);
                console.log(`json code: ${jsonResponse['lobby_code']}, current code: ${currentLobbyCode}, equal: ${jsonResponse['lobby_code'] != currentLobbyCode}`);
                if(jsonResponse['lobby_code'] != currentLobbyCode) {
                    console.log("not equal");
                    return;
                }
                switch (jsonResponse['id']) {
                    case 0:
                        // Spielerliste
                        break;
                    case 1:
                        // Spiel starten
                        break;
                    case 2:
                        // New Question
                        console.log("New question yay");
                        if(jsonResponse['question_index'] < questionIndexSpan.innerText) break;
                        answerButtonsDiv.innerHTML = "";
                        questionIndexSpan.innerText = (parseInt(jsonResponse['question_index'], 10) + 1).toString(10);
                        currentQuestionSpan.innerHTML = jsonResponse['question'];
                        let answerOptions = jsonResponse['answers']
                        for (let i=0; i<answerOptions.length; i++) {
                            console.log("Answer ", i, ": ", answerOptions[i])
                            let newAnswerButton = document.createElement('button');
                            newAnswerButton.innerText = answerOptions[i];
                            newAnswerButton.id = `answerOption${i}Btn`;
                            newAnswerButton.addEventListener('click', () => {
                                socket.emit('message', `{"id": 3, "auth_token": "${Cookies.get('auth_token')}", "question_index": ${jsonResponse['question_index']}, "answer": ${i}, "lobby_code": "${currentLobbyCode}"}`);
                                console.log("Answer pressed: ", i);
                            });
                            answerButtonsDiv.appendChild(newAnswerButton);
                        }
                        break;
                    case 3:
                        // Submit Answer
                        break;
                    case 4:
                        // Get Question
                        break;
                    case 5:
                        console.log("It's joever");
                        console.log("actually doin it");
                        const currentUrl= window.location.href.slice(0, -11);
                        const scoreboardUrl = `${currentUrl}scoreboard/${currentLobbyCode}`;
                        console.log(scoreboardUrl);
                        window.location.href = scoreboardUrl;
                        break;
                    default:
                        goToHome()
                        // neue Frage
                }
            });

            function goToHome() {
                window.location.href = window.location.href.slice(0, -12);
            }
        </script>
</html>