<!DOCTYPE html>
<html>
    <head>
        <title>efva - eine Frage, vier Antworten</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="icon" type="image/svg+xml" href="../static/favicon.svg">
        <link rel="icon" type="image/png" href="../static/favicon.png">
    </head>
    <body>
        <div id="background-mosaic">
            <img src="../static/fragezeichen3.jpeg" alt="Bild 1">
            <img src="../static/fragezeichen2.jpeg" alt="Bild 2">
            <img src="../static/fragezeichen1.jpeg" alt="Bild 3">
            <img src="../static/fragezeichen3.jpeg" alt="Bild 4">
        </div>
        <div id="wrapper">
            {% include "layout.html" ignore missing %}
            {% if not auth_token %}
            <div id="authButtons">
                <button id="loginBtn">Login</button>
                <button id="registerBtn">Account erstellen</button>
            </div>
            <dialog id="loginDialog">
                <form id="loginForm" onsubmit="return getFormAction(this)" method="post">
                    <input type="text" name="loginUsernameInp" id="loginUsernameInp" placeholder="Username" required>
                    <input type="password" name="loginPasswordInp" id="loginPasswordInp" placeholder="Password" required>
                    <menu>
                        <button type="submit" id="submitLoginDialogBtn">Login</button>
                        <button type="button" id="cancelLoginDialogBtn">Abbrechen</button>
                    </menu>
                </form>
            </dialog>
            <dialog id="registerDialog">
                <form id="registerForm" action="/register" method="post">
                    <input type="text" name="registerUsernameInp" id="registerUsernameInp" placeholder="Username" required>
                    <input type="email" name="registerEmailInp" id="registerEmailInp" placeholder="Email Adresse" required>
                    <input type="password" name="registerPasswordInp" id="registerPasswordInp" placeholder="Password" required>
                    <input type="password" name="confirmPasswordInp" id="confirmPasswordInp" placeholder="Repeat Password" required>
                    <menu>
                        <button type="submit" id="submitRegisterDialogBtn">Account erstellen</button>
                        <button type="button" id="cancelRegisterDialogBtn">Abbrechen</button>
                    </menu>
                </form>
            </dialog>
            {% endif %}
            <h1>efva - eine Frage, vier Antworten</h1>
            <button id="createLobbyBtn">Lobby erstellen</button>
            <dialog id="createLobbyDialog">
                <form id="createLobbyForm" onsubmit="return getFormAction(this)" method="POST">
                    <input type="hidden" name="lobbyFormType" value="create">
                    <label for="lobbyCodeHdn">Lobby entry code: </label>
                    <input type="hidden" id="lobbyCodeHdn" name="lobbyCode" value="">
                    <fieldset>    
                        <label for="numberOfQuestions">Wie viele Fragen sollen gestellt werden?</label>
                        <br>
                        <input type="number" id="numberOfQuestions" name="numberOfQuestions" min="3" max="20" value="3" required>
                        <br>
                        <label for="categorySelect">Wähle eine Kategorie aus:</label>
                        <br>
                        <select name="category" id="categorySelect">
                            <option value="0" selected>Alle</option>
                        </select>
                        <br>
                        <label for="difficultySelect">Wähle die Schwierigkeit der Fragen:</label>
                        <br>
                        <select name="difficulty" id="difficultySelect">
                            <option value="0" selected>Egal</option>
                            <option value="easy" selected>Einfach</option>
                            <option value="medium" selected>Mittel</option>
                            <option value="hard" selected>Schwer</option>
                        </select>
                        <br>
                        <label for="gamemodeSelect">Wähle den Spielmodus:</label>
                        <br>
                        <select name="gamemode" id="gamemodeSelect">
                            <option value="multiple" selected>Multiple Choice</option>
                        </select>
                    </fieldset>
                    <menu>
                        <button type="submit" id="submitLobbyDialogBtn">Lobby erstellen</button>
                        <button type="button" id="cancelLobbyDialogBtn">Abbrechen</button>
                    </menu>
                </form>
            </dialog>

        <form id="joinLobbyForm" onsubmit="return getFormAction(this)" method="POST">
            <input type="hidden" name="lobbyFormType" value="join">
            <!-- <label for="joinLobbyCodeInp">{% if not validLobbyKey%}Bitte einen gültigen Lobby code eingeben.<br>{% endif %}</label> -->
            <input type="text" name="joinLobbyCodeInp" id="joinLobbyCodeInp" placeholder="Lobby code eingeben" required>
            <button type="submit" id="joinLobbyBtn">Lobby beitreten</button>
        </form>

        <script src="../static/index.js"></script>
    </body>
</html>