<!DOCTYPE html>
<html>
    <head>
        <title>{{lobbyCode}}</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Lobby code: {{lobbyCode}}</h1>
        <h2>Lobby einstellungen:</h2>
        <ul>
            <li>Fragen: {{lobbyInfo.n_questions}}</li>
            <li>Kategorie: {{lobbyInfo.category}}</li>
            <li>Schwierigkeit: {{lobbyInfo.difficulty}}</li>
            <li>Spielmodus: {{lobbyInfo.game_type}}</li>
        </ul>
        <button ></button>
    </body>
</html>