<!DOCTYPE html>
<html>
    <head>
        <title>{{lobbyCode}}</title>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body>
        <h1>Lobby code: {{lobbyCode}}</h1>
        <img id='qrcode' 
        src="" 
        alt="" 
        title="qrcode" 
        width="150" 
        height="150" />
        <h2>Lobby einstellungen:</h2>
        <ul>
            <li>Fragen: {{lobbyInfo.n_questions}}</li>
            <li>Kategorie: {{lobbyInfo.category}}</li>
            <li>Schwierigkeit: {{lobbyInfo.difficulty}}</li>
            <li>Spielmodus: {{lobbyInfo.game_type}}</li>
        </ul>
        <h2>Spieler: </h2>
        <ul>
            {% for player in players %}
                <li>{{ player }}</li>
            {% endfor %}
        </ul>
        <button type="button" onclick="window.location.href += '/leave'">Lobby verlassen</button>
        <button type="button" onclick="window.location.href += '/start'">Spiel starten</button>
        <script src="../static/lobby.js"></script>
    </body>
</html>